<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class ="login-box">
        <h1>log in</h1>
        
        <div class = "login-input-box">
            <form action="/login" method="post">
                <label for="username">Username</label>
                <input type="text" placeholder="Enter Username" name="username" required>
            
                <label for="password">Password</label>
                <input type="password" placeholder="Enter Password" name="password" required>
                
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>

<<<<<<< HEAD
=======
// needs a form?
<label for="username">Username</label>
<input type="text" placeholder="Enter Username" name="username" required>

<label for="password">Password</label>
<input type="password" placeholder="Enter Password" name="password" required>

<button type="submit">Login</button>
>>>>>>> slight refactoring, mainly doing this so I can fetch the schema

