<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trasure Item</title>
</head>
<body>
    <h1>Create New Item</h1>
    <div class="create-from-div">
        <form action="">
            <div>
                <label for="">Title: </label>
                <input type="text" class="title">
            </div>
            <div>
                <label for=""> </label>
                <input type="text" class="">
            </div>
            <div>
                <label for=""> </label>
                <input type="text" class="">
            </div>
            <div>
                <label for=""> </label>
                <input type="text" class="">
            </div>
            <button class="create-item-btn">Create</button> 
        </form>
    </div>
    <script src=""></script>
</body>
</html>