<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class = "signup-box">
        <div class = "text-in-signup">
            <h1>Sign-up</h1>
            
            <p>create your account</p>
        </div>
        <div class = "input-box">
            <form action="/signup" method="post">
            
                <label for="name"><b>name</b></label>
                <input type="text" placeholder="Enter name" name="name" required>
            
                <label for="username"><b>username</b></label>
                <input type="text" placeholder="Enter username" name="username" required>
            
                <label for="email"><b>email</b></label>
                <input type="email" placeholder="Enter email" name="email" required>
            
                <label for="password"><b>password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
            
                <label for="avatar_url"><b>avatar_url</b></label>
                <input type="text" placeholder="Enter avatar_url" name="avatar_url" required>
                
                <button>sign up</button>
            </form>
        </div>
    </div>
</body>
</html>