<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<p>Please fill in this form to create an account.</p>

<label for="name"><b>name</b></label>
<input type="text" placeholder="Enter name" name="name" required>

<label for="username"><b>username</b></label>
<input type="username" placeholder="Enter username" name="username" required>

<label for="email"><b>email</b></label>
<input type="text" placeholder="Enter email" name="email" required>

<label for="password"><b>password</b></label>
<input type="password" placeholder="Enter Password" name="password" required>

<label for="location"><b>location</b></label>
<input type="location" placeholder="Enter location" name="location" required>


<form action="">
    <button>sign up</button>
</form>
