<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h2>View my items</h2>
    
    <% items.forEach(function(item){ %>
        <p><%= item.name %></p>
        <img src="<%= item.image_url%>" alt="">
        <p><%= item.address %></p>
    <% }); %>


    
    <h2>Reserved</h2>
    
</body>
</html>

