<h2>View my items</h2>
<!-- checking the items user posted -->
<!-- using user session fetch item table using user_id -->
<!-- select * from items where user_id =  -->
<!-- it depends on how many items user posted -->
<!-- it will include image of the item and details -->
<!-- include the update and delete buttons to redirect to the update form -->




<h2>Reserved</h2>
<!-- displaying what that user has reserved -->
<!-- fetch the data from item table where the reserve status is active and from that user -->
<!-- it will include image of the item and details -->