#map {
    height: 300px;
}

body{
    background-color: mistyrose;
}

.signup-box{
    background-color: white;
    width: 50%;
    border: solid 1px grey;
    border-radius: 10px;
    margin: 0 auto;
}

.input-box form{
    display: grid;
    width: 70%;
    margin: 10px auto;
}

.input-box label, input{
    margin: 5px;
}

.input-box input{
    padding: 5px;
}

.input-box button{
    width: 30%;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid black;
    background-color: aquamarine;
}

.text-in-signup{
    text-align: center;
}